@import './variables/globals.scss';
@import './normalize.scss';

* {
  box-sizing: border-box;
}

body {
  background: $bg-main-black;
  font-family: $fira-code-family;
  color: $secondary-white;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background: $primary-pearl;
  margin: 4% 5%;
}

.main-container {
  outline: 1px solid var(--bg-main-green);
  border-radius: 5px;
}

.main {
  min-height: 72vh;
  display: flex;
  justify-content: center;
}

.active {
  color: var(--secondary-white);
  border-bottom: 3px solid var(--accent-orange);
}

.svg-icon {
  transition: ease-in 0.2s;
}
.svg-icon_unchecked {
  fill: #607b967b;  
}

.svg-icon_checked {
  fill: var(--secondary-gray);
}
