@import './variables/globals.scss';
@import './normalize.scss';

* {
  box-sizing: border-box;
}

body {
  background: $bg-main-black;
  font-family: $fira-code-family;
  color: $secondary-white;
}

.app {
  // display: flex;
  // max-width: $width-desktop;
  // height: $height-desktop;
  min-height: 100vh;
  border-radius: 8px;
  border: 1px solid #1E2D3D;
  background: $primary-pearl;
  margin: 0 auto;
}

