.tabsContainer {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--bg-main-green);
}

.tab {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-right: 1px solid var(--bg-main-green);
  padding: 0 14px;
  cursor: pointer;
  color: var(--secondary-gray);
}