.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 24px;
}

.label {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  &:hover {
    > svg {
      fill: #607b967b;
    }
  }
  > svg {
    margin-left: 24px;
    margin-right: 10px;
  }
}